/*1  Give a maximum width to the body and center it in the page
        12 et every h1 to be centered
        13 hange the color of each link in the page
        14 reate a class with a border
        15 et table to have rounded corners
        16 dd margin between every paragraph
        17 reate a class which change font size and boldness
        18 reate a class to hide a content
        19  Add a green border to each td
        20 Add a dotted red border to each tr (note: tr does not accept a border property ;-) )*/

body {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: green;
}

.borderClass {
  border: solid 1px red;
}

table tr {
  background-color: white;
  border-radius: 5px;
}

table td {
  border: solid 2px green;
}

table {
  background: #000;
  border-radius: 8px;
}

table img {
  width: 50px;
}

.font {
  font-size: 50px;
  font-weight: 700;
}

p {
  margin: 0 25px;
}

.ghost {
  display: none;
}

table {
  border-collapse: collapse;
}
.border {
  border: dotted 5px red;
}
